@use '_molecules' as *;
@use '_variables' as *;

.intro {
    padding: 5%;
  }

.page-wrapper {
  background-color: #ffb151;
  background-image: url("SVG/flower.svg");
  margin: -10px;
}

.page-wrapper > .banner > h2 {
color: #e31266;
background-color: red;
}