$responsive-width: 900px; // Transition from small to large size

// Text
$fonts-headline: 'Pacifico', cursive;
$fonts-body: 'Josefin Sans', sans-serif;

$text-light: #fff; // White
$text-dark: #333; // Black/grey
$title-color: #ff0055; // Pink

// SVG images
$bamboo: url("SVG/bamboo.svg");
$background-flowers: url("SVG/bgFlowers1.svg");
$bell-flower: url("SVG/blue-flower.svg");
$snowflake-flower: url(SVG/pinkSnowflakeFlower.svg);
$toucan: url("SVG/toucan.svg");

// Colors
$background-color: #75E9DD;
$accent1: #00ffff; // Bright blue