$responsive-width: 900px; // Transition from small to large size

$bamboo-img: url("SVG/bamboo.svg");
$flower-img: url("SVG/bgFlowers1.svg"); // Todo: Get Image!
$bell-flower-img: url("SVG/blue-flower.svg");
$toucan-img: url("SVG/toucan.svg");

$background-color: #75E9DD;
$title-color: #ff0055;

$text-light: #fff; // White
$text-dark: #333;; // Black/grey
$accent1: #00ffff; // Bright blue

$fonts-headline: 'Pacifico', cursive;
$fonts-body: 'Josefin Sans', sans-serif;