/* Currenlty just in CSS --> Rewrite this in SCSS! */
/* Add variables to _variables.scss */

:root {	
	overflow-x: hidden; /* Hide horizontal scroll bar */
}

/* Background of repeating flowers */
.page-wrapper {	
	background: round url("SVG/flower1.svg");
	background-size: 125px 120px;
    background-position: center top;
  background-color: #ffb151;
  margin: -10px;
}

h2,
h3,
h4 {
  font-family: "Pacifico", cursive;
  margin: 5%;
  font-size: 1.5em;
  line-height: 1em;
}

h1 {
  color: #ff0055;
  font-weight: 900; /* Heavy */
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 1em;
}

header > h1:before {
	display: grid; /* Text is centered a row above, float right with display: flex */
	content: "Tropical";
}

header > h1 {
	margin: -5.5%;
	padding: 5.5%;
	margin-bottom: 0;
	margin-right: -10px;
	padding-bottom: 2%;
	
	text-align: center;
	font-size: 60px;  
}

h2, h3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

/* Space the CSS abreviation to fit in the header */
h2 > abbr {
	padding: 0em .5em;
}

/* Add spaces to put images before and after the sub-headings */
h2:before, h2:after, h3:before, h3:after {
	 display: block;
	 content: "";
	 height: 50px;
	 width: 50px;
	 background-repeat: no-repeat;
}

/* Add Toucan SVG to the h2 header */
h2:before, h2:after {
	background-image: url("SVG/toucan.svg");
}

/* Add Bell Flower SVG to all h3 headers */
 h3:before, h3:after {	
	 background-image: url("SVG/bellFlower.svg");	 
 }

/* Adjusting margins to keep headers centered */
h2:after {
	margin-left: 15px;
}
 
h3:after {
	 margin-left: 30px;
 }

abbr {
	text-decoration: none;
}

/*
h2 {
  background: #40E0D0;
  color: #333;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}*/

/*

h3, h2 {
  font-size: 2.25em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}
*/

/* Trying to make it easier to read, can change color? */
ul, p {
	background: rgba(255, 255, 255, .15); 
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;  
  color: #333;
  padding: 5%;
}

/* All links */
a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #00ffff;
}

.summary {	
  margin-left: 0px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.summary p:last-child {
  border-top: 1px solid #fff;
  margin-top: 1em;
  padding-top: 1.5em;
}
.summary a {
  color: #fff;
}

.intro, .main {
	margin: 10px; /* undoing the -10 margin*/
}

/* Adding a Bamboo background */
.sidebar, header > h1 {
	background-image: url("SVG/bamboo.svg");
	background-position: right top;
	background-repeat: repeat;
}

.sidebar {
	padding: 10px;
}

.sidebar ul > li {
	padding: 1%;
	padding-top: 3%;
	padding-bottom: 2%;
}

footer {
	padding: 20px;
}

/* Move this section to bottom of the sidebar? - would have to do funky things with absolute positioning, would also damage accesibility? */
p[role=contentinfo], footer {
	/*background-color: white;*/
	/*
	Moves to bottom of VIEWPORT, not page
	position: fixed;
	bottom: 0;*/
}
footer {
	/*
	position: absolute;
	top: 100vh;*/
}

/* Smaller screen size */
@media (max-width: 900px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1;
  }
  
  body, .page-wrapper {
	  margin-right: 0px;
  }
  section.intro, header > h1 {
	  margin-right: 0px;
	  padding-right: 0px;
  }
  
  ul {
	  list-style: none;
  }
  
  ul > li {
	  display: inline-block;
  }  
}

/* Larger screen size */
@media (min-width: 900px) {
	/* Use a grid to position everything in the page */
	.page-wrapper {
		display: grid;
		grid-template-areas: 
		 "intro intro intro sidebar"
		 "main main main sidebar"
		 "main main main sidebar";	
	}
	
	/* Assign each section a grid-area */
	section.intro {
		grid-area: intro;
	}
	
	div.main {
		grid-area: main;
	}
	
	aside.sidebar {
		grid-area: sidebar;
	}
	
	/* Add spacing between the header and sidebar content */
	.sidebar:before {
		display: block;
		content: "";
		z-index: 4;
		width: 100%;
		height: 4.8%;
		/*background-color: transparent;*/
		background-image: url("SVG/bellFlower.svg");
		margin-top: -10px;
	}
	
	ul > li {
		margin-bottom: 15px; /* Add more spacing to the sidebar items */
	}
	
}
/*# sourceMappingURL=style.css.map */