.page-wrapper {
  /* Display everything in a single column */
  display: grid;
  grid-template-columns: 1fr;
  /* Keep background over whole page */
  margin: -10px -1.5%;
  /* Background of repeating flowers */
  background-image: url("SVG/bgFlowers1.svg");
  background-size: 1150px;
  background-position: center top;
  background-color: #75E9DD;
}

h1 {
  /* For the main heading/title */
  color: #ff0055;
  font-weight: 900; /* Heavy */
  font-size: 90px;
  letter-spacing: 1px;
  line-height: 1em;
  margin: -25px -2%;
  padding: 2%;
  margin-bottom: 0;
  text-align: center;
}
h1:before {
  /* Add "Tropical" before the header */
  display: grid; /* Text is centered a row above */
  content: "Tropical";
}

h2,
h3 {
  /* For all subheadings */
  font-family: "Pacifico", cursive;
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  margin: 5%;
}

h2:before {
  /* Add Toucan SVG before the h2 header */
  display: block;
  content: url("SVG/toucan.svg");
  width: 75px;
  height: 75px;
  float: left;
}

h3 {
  /* The :before and :after items of the headers will be in the flex row */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 0px;
}
h3:before, h3:after {
  flex-shrink: 0;
  /* Add Snowflake flower to h3 headers */
  display: block;
  content: url(SVG/snowflakeFlower.svg);
  width: 50px;
  height: 50px;
}

.sidebar h3:before, .sidebar h3:after {
  /* Add Bell Flower SVG to the sidebar's h3 headers */
  display: block;
  content: url("SVG/blue-flower.svg");
  width: 25px;
  height: 50px;
}

abbr {
  text-decoration: none;
}

p {
  font-family: "Josefin Sans", sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 1em;
}

a {
  /* All links */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  border-color: #00ffff;
  border-bottom-width: 2px;
}

.summary {
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 0px;
}

.intro,
.main {
  margin: 10px;
}

.sidebar,
header > h1 {
  /* Add a Bamboo background */
  background-image: url("SVG/bamboo.svg");
  background-position: right top;
  background-repeat: repeat;
}

.sidebar {
  padding: 10px;
  margin: 0;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10%;
}
.sidebar ul > li {
  padding: 2%;
}
.sidebar ul > li:before {
  /* Add a flower before each list item */
  display: block;
  content: url(SVG/snowflakeFlower.svg);
  width: 35px;
  height: 32px;
  display: inline-block;
}
.sidebar ul > li:hover:before {
  /* Animate the flower */
  transform: rotate(-720deg);
  transition-duration: 1.3s;
  transition-property: transform;
}
.sidebar .design-archives ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

footer {
  padding: 20px;
}

ul,
p {
  font-weight: 600;
}

@media (min-width: 900px) {
  /* Larger screen size */
  .page-wrapper {
    /* Use grid-template-area to assign sections to the page */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Change to 4 evenly sized columns */
    grid-template-areas: "intro intro intro sidebar" "main main main sidebar" "main main main sidebar";
    grid-gap: 5px;
  }
  /* Assign each item a grid-area */
  section.intro {
    grid-area: intro;
  }
  div.main {
    grid-area: main;
  }
  .sidebar {
    grid-area: sidebar;
    margin-top: -25px;
    padding-right: 0;
    /* Since super specific above, needs to be specific here */
  }
  .sidebar:before {
    /* Add a block between the header and sidebar content, with an image */
    display: block;
    content: "";
    width: 100%;
    height: 250px;
    z-index: 4; /* On top of the bamboo bg */
    background-image: url("SVG/blue-flower.svg");
  }
  .sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .sidebar ul > li {
    margin-bottom: 15px; /* Add more spacing to the sidebar items */
  }
  .sidebar .design-archives ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  h1 {
    margin-right: -20px; /* Background goes over the grid-gap */
  }
}


/*# sourceMappingURL=style.css.map */
