/* Put font and color from stylesheet here/in scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

.main {
	
}

.page-wrapper {
	background-color: white; /* Change to color */
	background-image: url("flower1.svg"); /* Change to flowers */
}

/* .intro {} */

header h1:before {
	content: "Tropical";
	padding: 10px;
	font-weight: 900;
	color: magenta;	
	font-size: 36px;
}

header h1 {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px 10px;
	background-color: tan;
	margin: -10px;
	font-size: 36px;
}

h2, h3 {
	font-size: 24px;
	
}

header {
	
}

.summary {}

.preamble {}

/*.main {}*/

.explanation {}

.participation {}

.benefits {}

.requirements {}

footer { 
padding: 20px;
}

.sidebar {
	background-color: tan;
	padding: 10px;
	margin: -10px;
}

.design-selection {}

.zen-resources {}

/* Larger screen size */
@media (min-width: 600px) {
	.main {
float: left;		
width: 50 /* Adjust size, spacing between */
	}
	.sidebar {
		float: right;
	}
	
}